<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.provider.mapper.${className}Mapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${className}Entity" id="${classname}Map">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_${className}Columns_List" > 
  	#foreach($column in $columns)
  #if(${column.attrname} ==  ${column.columnName})${column.columnName}#else ${column.columnName} #end #if($velocityCount != $columns.size()),#end
        
#end
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_${className}Columns_List" >
     #foreach($column in $columns)
  #{$column.attrname}#if($velocityCount != $columns.size()),#end		
 #end
  </sql> 
  
  <!--要修改的字段-->
  <sql id="upd_${className}Columns_List" >
    <set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
    <if test="t.$column.attrname != null">$column.columnName = #{t.$column.attrname}#if($velocityCount != $columns.size()), #end</if>
#end
#end
	</set>
	where ${pk.columnName} = #{t.${pk.attrname}}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_${className}Pramas_List">
    <where>
#foreach($column in $columns)
    <if test="t.$column.attrname != null">and $column.columnName = #{t.$column.attrname}#if($velocityCount != $columns.size())#end</if>
#end
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_${className}Pramas_List">
    <where>
#foreach($column in $columns)
    <if test="t.$column.attrname != null">and $column.columnName = #{t.$column.attrname}#if($velocityCount != $columns.size())#end</if>
#end
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="$pk.attrname">
        insert into ${tableName} values (<include refid="ins_${className}Columns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update ${tableName} <include refid="upd_${className}Columns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from ${tableName} <include refid="del_${className}Pramas_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from ${tableName} where ${pk.columnName} in
        <foreach item="${pk.attrname}" collection="array" open="(" separator="," close=")">
            #{${pk.attrname}}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="${classname}Map">
		select  <include refid="sel_${className}Columns_List" />  from ${tableName} where ${pk.columnName} = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="${classname}Map">
		select  <include refid="sel_${className}Columns_List" />  from ${tableName}
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByPramas" resultMap="${classname}Map">
		select  <include refid="sel_${className}Columns_List" />  from ${tableName} <include refid="sel_${className}Pramas_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByPramas" resultMap="${classname}Map">
		select  <include refid="sel_${className}Columns_List" />  from ${tableName} <include refid="sel_${className}Pramas_List" /> order by ${pk.attrname} desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryObjectByPramas" resultMap="${classname}Map">
        select  <include refid="sel_${className}Columns_List" />  from ${tableName} <include refid="sel_${className}Pramas_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByPramas" resultType="java.lang.Long">
		select count(*) from ${tableName} <include refid="sel_${className}Pramas_List" />
	</select>
	


</mapper>